$brend-color: #f92672;
$bg-color: #fff;
$primary-color: #e6db74;
$main-text: #272822;
$icon-color: #75715E;

$text-size: 32px;
$gap: 80px;

$brand-color-dt: #87C232;
$bg-color-dt: #222629;
$primary-color-dt: #E6DB74;
$main-text-dt: #272822;
$icon-color-dt: #87C232;