$brend-color: #f92672;
$bg-color: #fff;
$primary-color: #e6db74;
$main-text: #272822;
$icon-color: #75715E;
$bg-section: #f5f5f5;
$brend-text-sz: 18px;
$brend-text-st: italic;
$bg-hover: #353535;

$text-size: 32px;
$gap: 80px;

$brand-color-dt: #87C232;
$bg-color-dt: #222629;
$primary-color-dt: #E6DB74;
$main-text-dt: #272822;
$icon-color-dt: #87C232;
$bg-section-dt: #f5f5f5;
$brend-text-sz-dt: 18px;
$brend-text-st-dt: italic;
$bg-hover-dt: #353535;

