@import '_reset';
@import '_var';

body{
    font-size: $text-size;
	background: $bg-color;
	font-family: 'Roboto', sans-serif;
}
.wrapper {
    padding: $gap;
    min-height: 100vh;
}
.head-block {
    height: $gap;
    position: fixed;
    background: $bg-color;
    top: 0;
	left: 0;
	padding: 43px 80px 16px;
	font-size: 18px;
	color: $main-text;
}
.menu {
	width: $gap;
	position: fixed;
	top: 50%;
	left: 0;
	transition: translateY(50%);
}
.links {
	width: $gap;
	position: fixed;
	top: 0;
	right: -28px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&-list {
	height: 28px;
	margin-top: 16px;
	}
}
.hero {
	width: 100%;
	background: $primary-color;
	height: calc(100vh - 160px);
	margin: 0 0 $gap;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	&:before {
		content: "";
		width: 50%;
		background: #F5F5F5;
		height: calc(100vh - 160px);
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;
	}
	&-text {
		position: relative;
		z-index: 10;
	}
	.info {
		opacity: 0;
		display: none;
	}
	&:hover {
		&:before {
			opacity: 0;
			transform: translateY(100%);
			transition: opacity 4s, transform 2s;
		}
		.info {
			display: block;
			opacity: 1;
		}
		.welcome {
			opacity: 0;
			display: none;
		}
	}
}
.paralax {
}
.information {
	background: $bg-section;
	padding: $gap;
	display: block;
	color: $main-text;
	.title {
		font-size: 80px;
		font-weight: 900;
		}
	}
	.infortioman-list{
	&-item{
		margin-top: 32px;
		position: relative;
		}
	&-item::after {
		content: " ";
		position: absolute;
		top: 33%;
		left: 50%;
		width: 14px;
		height: 14px;
		background: $brend-color;
		border-radius: 50%;
		
	}
	}
