@import '_reset';
@import '_var';

body{
    font-size: $text-size;
	background: $bg-color;
	font-family: 'Roboto', sans-serif;
}
.wrapper {
    padding: $gap;
    min-height: 100vh;
}
.head-block {
    height: $gap;
    position: fixed;
    background: $bg-color;
    top: 0;
	left: 0;
	padding: 43px 80px 16px;
	font-size: 18px;
	color: $main-text;
	min-width: 100%;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	
}
.btn-theme {
		font-size: 18px;
	color: $main-text;
	background: $bg-color;
	display: inline-block;
	
	.wt, .bt {
		color: $main-text;
	}
	.wt {
		border-right: $main-text 1px;
	}
	.bt:hover, .wt:hover {
		color: $brend-color;
		}
}
.menu {
	width: $gap;
	position: fixed;
	top: 50%;
	left: 0;
	
	z-index: 999;
	.btn-burger {
		display: block;
		width: 70px;
		height: 30px;
		position: relative;
		right: -50px;
		background: none;
		
	}
	.btn-burger span {
		position: absolute;
		background-color: black;
		height: 4px;
		width: 100%;
		top: 13px;
		left: 0;
		transition: 1s;
	}
	.btn-burger::before,
	.btn-burger::after {
		content: "";
		position: absolute;
		background: black;
		height: 4px;
		width: 100%;
		left: 0;
	}
	.btn-burger::before {
		top: 0;
	}
	.btn-burger::after {
		bottom: 0;
	}
	.btn-burger:hover span {
			left: 30px;
	}
}

.links {
	width: $gap;
	position: fixed;
	top: 0;
	right: -28px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&-list {
	height: 28px;
	margin-top: 16px;
	}
}
.info-title {
	display: block;
	color: $brend-color;
	font-style: $brend-text-st;
	font-size: $brend-text-sz;
	margin-bottom: 8px;
}

.info-sub {
	font-weight: 900;
	color: $main-text;
}
.info-text {
	margin-top: 20px;
}
.hero {
	width: 100%;
	background: $primary-color;
	height: calc(100vh - 160px);
	margin: 0 0 $gap;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	&:before {
		content: "";
		width: 50%;
		background: #F5F5F5;
		height: calc(100vh - 160px);
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;
	}
	&-text {
		position: relative;
		z-index: 10;
		.welcome {
			display: block;
			max-width: 378px;
			max-height: 188px;
			font-size: 80px;
			font-weight: 900;
			line-height: normal;
			
			&::after{
				content: "";
				background-color: $brend-color;
				border-radius: 50%;
				width: 14px;
				height: 14px;
				display: inline-block;
			}
		}
	}
	.info {
		opacity: 0;
		display: none;
		max-width: 600px;
		max-height: 215px;
		position: relative;
		left: -25%;
		transition: opacity 1s;
	}
	
	&:hover {
		&:before {
			opacity: 0;
			transform: translatex(100%);
			transition: opacity 4s, transform 2s;
		}
		.info {
			display: block;
			opacity: 1;
		}
		.welcome {
			opacity: 0;
			display: none;
		}
	}
}
.paralax {
	background: url('../img/Depositphotos_156974368_xl-2015\ 1.svg') center/cover no-repeat fixed;
	height: calc(100vh - 160px);
	}

.information {
	background: $bg-section;
	padding: $gap;
	display: block;
	color: $main-text;
	margin-top: $gap;
	
	.title {
		font-size: 80px;
		font-weight: 900;
		}
	}
	.infortioman-list{
		
		&:hover &-item::after{
			display: block;
			width: 100%;
			transform: scaleX(1);
			
		}
	&-item{
		margin-top: 32px;
		position: relative;
		overflow: hidden;
		&:nth-child(1) {
			width: 90%;}
		&:nth-child(2) {
			width: 80%;}
		&:nth-child(3) {
			width: 50%;}
		&:nth-child(4) {
			width: 60%;}
		&:nth-child(5) {
			width: 80%;}
		&:nth-child(6) {
			width: 70%;}
		&:nth-child(7) {
			width: 80%;}			
		}
	&-item::after {
		content: " ";
		display: block;
		position: absolute;
		top: 33%;
		left: 300px;
		width: 14px;
		height: 14px;
		background: $brend-color;
		border-radius: 10px;
		transition: 2s;
		
	}
	}
	.paralax-group {
		height: calc(100vh - 160px);
		background: url('../img/Group\ 11.png') center/cover no-repeat fixed;
		display: block;
		margin-top: $gap;
}
.projects {
	margin-top: $gap;
	padding: $gap;
	height: 100%;
	display: block;
	background: $bg-hover;
	.title {
		color: $primary-color;
		font-size: 80px;
		font-weight: 900;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
	}
	.text-list{
		.info-sub-var {
			color: $bg-color;
		}
		.info-text-var {
			color: $bg-section;
		}
		
}
.info-title-var{
	position: relative;
	width: 80px;
	.arrow {
	position: absolute;
	bottom: 7px;
	left: 60px;
	}
	&:hover {
		text-decoration: underline;
	}
}
}


